.todoWrapper {
  background-color: rgb(240, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 21em;
  margin-bottom: 10px;
  }
  .removeTodo {
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;

  }

  