.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("..//assets/abstract-modern-cool-geometric-pattern-background-vector.webp");
}
.todo-wrapper {
    width: 24em;
    height: 28em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow-y: auto;
    background-color: white;
}

.todo-over {
overflow-y: auto;
}


